[[extend 'layout.html']]

<style>
  [v-cloak] {
    display: none;
  }
</style>


<div class="section" id="vue-target" v-cloak>
    
    <!--<GChart type="pie_chart" :options="options" :data="data" />-->
    <h1 class="title" >Budget Buddy</h1>
    <h2 class="subtitle">View budgets</h2>
    
    <p>[[=budget_name]]</p>

    <p>[[=budget_id]]</p>

    <span v-if="display_mode == 'none'">
      <button @click="display_items('pie_chart')">Pie Chart</button>
      <button @click="display_items('column_chart')">Column Chart</button>
    </span>

    <div>
      <button v-if="display_mode == 'pie_chart'" @click="display_graph('column_chart')">Column Chart</button>
      <div id="pie_chart"></div>
    </div>


      <button v-if="display_mode == 'column_chart'" @click="display_graph('pie_chart')">Pie Chart</button>
      <div id="column_chart"></div>
 
      
    <p>{{budgets}}</p><p>items: {{budget_items}}</p>{{budget_id}}
    
    <!--<div id="table_div"></div> -->

    <br>
    <div>
    <a class="button" href="[[=URL('edit_budget', budget_id, signer=url_signer)]]">
        <span class="icon"><i class="fa fa-angle-left"></i></span>
        <span>Back</span>
    </a>
    </div>
 </div>
  



[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
    let my_callback_url = "[[=XML(my_callback_url)]]";
    let get_budgets_url = "[[=XML(get_budgets_url)]]";
    let get_budget_items_url = "[[=XML(get_budget_items_url)]]";
    let display_items_url = "[[=XML(display_items_url)]]";
    let budget_id = "[[=(budget_id)]]"

</script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">google.load('visualization', '1.0', {'packages':['corechart']});</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"> google.charts.load('current', {'packages':['table']});</script>
<script src="js/graph.js"></script>
[[end]]